@import "../../../../Styles/color";
.TotalAmount-Div {
  display: flex;
  justify-content: space-between;
  margin: torem(20px) 0px;
  font-family: poppins;
  font-size: torem(16px);
}
.TotalAmount-Div_totalExpense {
  margin-right: torem(10px);
  color: rgb(202, 0, 0);
}
.TotalAmount-Div_totalCredit {
  color: green;
}
