@import "../../../Styles/color";
.CategoryItem-Li {
  background-color: gainsboro;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: torem(5px) torem(10px);
  span {
    &:last-child {
      cursor: pointer;
    }
  }
}
