@import "../../Styles/color";
.Dashboard-div {
  padding: torem(25px);
  padding-top: torem(10px);
  font-family: poppins;
  width: 100%;
}
.Dashboard-div__headingContianer {
  display: flex;
  align-items: center;
  gap: 20px;
}
