@import "../../../../Styles/color";
.MiniCard-div {
  background-color: rgba(224, 224, 224, 0.297);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
  border-radius: torem(5px);
  height: 50%;
  .MiniCard-div__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
      font-size: torem(30px);
    }
    h3 {
      font-size: torem(15px);
    }
  }
  .chart-wrapper {
    width: 50%;
    height: 100%;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
