@import "../../Styles/color";
.Header-div {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  box-sizing: border-box;
  box-shadow: 1px 0px 5px #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: torem(10px);

  i {
    color: #ef5757;
    font-size: torem(30px);
  }
  .Header-div__top,
  .Header-div__bottom {
    gap: torem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bxs-log-out {
  cursor: pointer;
}
