@import "../../Styles/color";
.Theme-div {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  i {
    cursor: pointer;
    margin-right: torem(10px);
    margin-top: torem(10px);
    font-size: torem(30px);
  }
}
