@import "../../Styles/color";

.LeaderBoardPage {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: torem(20px);

    h1 {
        font-size: torem(35px);
        font-family: poppins;
    }
}