@import "../../../../Styles/color";
.input_fields {
  margin-top: torem(30px);
  display: flex;
  justify-content: center;
  width: 100%;
  gap: torem(5px);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: torem(5px);
    width: 100%;
    input {
      width: 100%;
      height: torem(30px);
      border: none;
      padding-left: torem(5px);
      outline: none;
      border-radius: torem(5px);
    }
    input::placeholder {
      font-family: "Poppins", sans-serif;
      color: black;
    }
    i {
      margin: 0px torem(10px);
    }
  }
  select {
    border-color: gainsboro;
    width: 40%;
    font-family: "Poppins", sans-serif;
    height: torem(30px);
    border-radius: torem(5px);
    padding: 0px torem(10px);
  }
}
